@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");

/* :root[data-theme="light"] { */
:root {
  --color-barra-lateral: rgb(255, 255, 255);

  --color-texto: rgb(0, 0, 0);
  --color-texto-menu: rgb(134, 136, 144);

  --color-menu-hover: rgb(238, 238, 238);
  --color-menu-hover-texto: rgb(0, 0, 0);

  --color-boton: rgb(0, 0, 0);
  --color-boton-texto: rgb(255, 255, 255);

  --color-linea: rgb(180, 180, 180);

  --color-switch-base: rgb(201, 202, 206);
  --color-switch-circulo: rgb(241, 241, 241);

  --color-scroll: rgb(192, 192, 192);
  --color-scroll-hover: rgb(134, 134, 134);

  --color-negro: #000;
  --color-border-tabla: #000;
  --color-fondo: #f4f4f4;
}

.dark-mode {
  /* :root[data-theme="dark"] { */
  --color-barra-lateral: rgb(44, 45, 49);

  --color-texto: rgb(255, 255, 255);
  --color-texto-menu: rgb(110, 110, 117);

  --color-menu-hover: rgb(0, 0, 0);
  --color-menu-hover-texto: rgb(238, 238, 238);

  --color-boton: rgb(255, 255, 255);
  --color-boton-texto: rgb(0, 0, 0);

  --color-linea: rgb(90, 90, 90);

  --color-switch-base: rgb(39, 205, 64);
  --color-switch-circulo: rgb(255, 255, 255);

  --color-scroll: rgb(68, 69, 74);
  --color-scroll-hover: rgb(85, 85, 85);

  --color-border-tabla: rgb(110, 110, 117);
  --color-fondo: #3a3333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  /* font-family: 'Roboto', sans-serif;
  background-color: var(--color-barra-lateral);
  color: var(--color-texto); */
  height: 100vh;
  width: 100%;
  background-color: var(--color-fondo);
}

/* Inicio menu hamburguesa */
.menu {
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-boton);
  color: var(--color-boton-texto);
  right: 15px;
  top: 15px;
  z-index: 100;
}

/* Fin menu hamburguesa */

/* Inicio barra lateral */
.barra-lateral {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100%;
  overflow: hidden;
  padding: 20px 15px;
  background-color: var(--color-barra-lateral);
  transition: width 0.5s ease, background-color 0.3s ease, left 0.5s ease;
  z-index: 50;
}

.mini-barra-lateral {
  width: 80px;
}

.barra-lateral span {
  width: 100px;
  text-wrap: nowrap;
  font-size: 18px;
  text-align: left;
  opacity: 1;
  transition: opacity 0.5s ease, width 0.5s ease;
}

.barra-lateral span.oculto {
  opacity: 0;
  width: 0;
}

/* Inicio nombre de la pagina */
.barra-lateral .nombre-pagina {
  width: 100%;
  height: 45px;
  color: var(--color-texto);
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.barra-lateral .nombre-pagina img {
  width: 45px;
  border-radius: 5px;
  font-size: 40px;
  cursor: pointer;
}

.barra-lateral .nombre-pagina span {
  margin-left: 5px;
  font-size: 25px;
}
/* Fin nombre de la pagina */

.barra-lateral .boton {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: var(--color-boton);
  color: var(--color-boton-texto);
}

.barra-lateral .boton ion-icon {
  min-width: 50px;
  font-size: 25px;
}

/* Inicio navegacion */
.barra-lateral .navegacion {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.barra-lateral .navegacion::-webkit-scrollbar {
  width: 5px;
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll);
  border-radius: 10px;
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroll-hover);
}

.barra-lateral .navegacion li {
  list-style: none;
  display: flex;
  margin-bottom: 5px;
}

.barra-lateral .navegacion li:last-child {
  margin-bottom: 0;
}

.barra-lateral .navegacion li a {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  color: var(--color-texto-menu);
}

.barra-lateral .navegacion li a:hover {
  background-color: var(--color-menu-hover);
  color: var(--color-menu-hover-texto);
}

.barra-lateral .navegacion li a:hover svg {
  stroke: var(--color-menu-hover-texto);
}

#pagina-actual {
  background-color: var(--color-menu-hover);
  color: var(--color-menu-hover-texto);
}

.barra-lateral .navegacion li a ion-icon,
.barra-lateral .navegacion li a svg {
  min-width: 50px;
  font-size: 20px;
}

.barra-lateral .navegacion li a svg {
  stroke: var(--color-texto-menu);
}

/* Fin navegacion */

/* Inicio linea  */
.barra-lateral .linea {
  width: 100%;
  height: 1px;
  margin-top: 15px;
  background-color: var(--color-linea);
}

/* Fin linea */

/* Inicio modo oscuro */
.barra-lateral .modo-oscuro {
  width: 100%;
  margin-bottom: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.barra-lateral .modo-oscuro .info {
  width: 150px;
  height: 45px;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: var(--color-texto-menu);
}

.barra-lateral .modo-oscuro .info ion-icon {
  min-width: 50px;
  font-size: 20px;
}

/* Inicio switch */
.barra-lateral .modo-oscuro .switch {
  min-width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.barra-lateral .modo-oscuro .switch .base {
  position: relative;
  display: flex;
  align-items: center;
  width: 35px;
  height: 20px;
  background-color: var(--color-switch-base);
  border-radius: 50px;
}

.barra-lateral .modo-oscuro .switch .base .circulo {
  position: absolute;
  width: 18px;
  height: 90%;
  background-color: var(--color-switch-circulo);
  border-radius: 50%;
  left: 2px;
  transition: left 0.5s ease;
}

.barra-lateral .modo-oscuro .switch .base .circulo.prendido {
  left: 15px;
}
/* Fin switch */

/* Fin modo oscuro */

/* Inicio usuario */
.barra-lateral .usuario {
  width: 100%;
  display: flex;
}

.barra-lateral .usuario img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
}

.barra-lateral .usuario .info-usuario {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-texto);
  overflow: hidden;
}

.barra-lateral .usuario .info-usuario .nombre-email {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.barra-lateral .usuario .info-usuario .nombre-email .nombre {
  font-size: 15px;
  font-weight: 600;
}

.barra-lateral .usuario .info-usuario .nombre-email .email {
  font-size: 15px;
}

.barra-lateral .usuario .info-usuario ion-icon {
  font-size: 20px;
  cursor: pointer;
}
/* Fin usuario */

/* Inicio main */
main {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.5s ease;
}

main.min-main {
  margin-left: 80px;
}

.section {
  overflow-x: auto;
}

.section::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}

.section::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll);
  border-radius: 10px;
}

.section__title {
  text-align: center;
  font-size: 32px;
  margin: 15px 0 10px 0;
  color: var(--color-texto);
}

.section__text {
  width: 95%;
  margin: 14px auto;
  font-size: 16px;
}

.button {
  width: 90%;
  display: grid;
  justify-content: flex-end;
  margin: 15px auto;
}

.button__add {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

.button__add:hover {
  background-color: #45a049;
  color: #000;
}

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 16px;
}

table,
th,
td {
  border: 1px solid var(--color-border-tabla);
}

.table__head-cell,
.table__cell {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #3005ee;
  color: var(--color-negro);
}

/* tr:nth-child(even) {
  background-color: #fcfcfc;
} */

.table__row:hover {
  background-color: var(--color-menu-hover);
  color: var(--color-menu-hover-texto);
}

.table__cell .table__button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.table__cell .table__button:last-child {
  background-color: #f44336;
}

.table__cell .table__button:first-child {
  background-color: rgb(255, 193, 7);
}

/* Fin main */

@media (max-height: 660px) {
  .barra-lateral .nombre-pagina {
    margin-bottom: 5px;
  }

  .barra-lateral .modo-oscuro {
    margin-bottom: 3px;
  }
}

@media (max-width: 600px) {
  .barra-lateral {
    position: fixed;
    left: -300px;
  }

  .max-barra-lateral {
    left: 0;
  }

  .menu {
    display: flex;
  }

  .menu ion-icon:nth-child(2) {
    display: none;
  }

  main,
  main.min-main {
    margin-left: 0;
  }
}
