body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

@import url("header.css");

main {
  max-width: 700px;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(22, 17, 17, 0.1);
}
/* Estilos del formulario */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
select,
textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: none;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #333;
  width: min(110px, 100%);
  color: #fff;
  padding: 20px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #555;
}

footer {
  background-color: rgba(49, 48, 48, 0.788);
  color: white;
  text-align: center;
  padding: 1rem;
}