@import url("header.css");
@import url("footer.css");

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main {
  max-width: 120vh;
  width: 80%;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(22, 17, 17, 0.1);
}

h1 {
  text-align: center;
  font-size: 32px;
}

/* Estilos del formulario */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="password"],
imput[type="radio"],
select,
textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: none;
}
ul li {
  list-style: none;
}
h1 ion-icon {
  font-size: 30px;
}
ion-icon {
  font-size: 18px;
}
.cta-button {
  background-color: #333;
  color: white;
  border: none;
  width: min(110px, 100%);
  padding: 20px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.9s ease, background-color 0.3s ease;
  border-radius: 8px;
}
.cta-button:hover {
  transform: scale(1.1);
  background-color: #273825;
}
