* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(77, 77, 77);
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 30px 35px;
  border-radius: 10px;
}

form .titulo {
  margin-bottom: 20px;
  font-size: 40px;
  margin-bottom: 30px;
}

label,
input {
  margin: 10px 0;
  width: 100%;
  font-size: 20px;
  margin-bottom: 35px;
}

input {
  padding: 10px;
  border-radius: 5px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
