* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(77, 77, 77);
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 400px;
}

form .titulo {
  margin-bottom: 1rem;
  font-size: 2rem;
}

label,
input {
  margin: 1rem 0;
  width: 100%;
  font-size: 1.25rem;
}

input {
  padding: 1rem;
  border-radius: 1rem;
}

.links {
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

button {
  padding: 1rem 1rem;
  font-size: 1.25rem;
  background-color: #000000;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
}
