@import url("header.css");
@import url("footer.css");

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(77, 77, 77);
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 1000px;
}

form .titulo {
  margin-bottom: 1rem;
  font-size: 2rem;
  padding: 30px 5%;
  border-radius: 10px;
}

.campo label,
input {
  margin: 1rem 0;
  width: 100%;
  font-size: 1.25rem;
}

input {
  padding: 1rem;
  border-radius: 1rem;
}

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
  width: 100%;
}

.link,
button {
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #000000;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;  /* Aquí forzamos que ambos botones tengan el mismo tamaño */
}

.link:hover,
button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.link {
  display: inline-block;
  width: 100%;  /* Deja que el enlace ocupe su espacio normal */
}

.icons {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icons i {
  border-radius: 50%;
  padding: 15px;
  border: solid thin rgb(0, 0, 0);
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.icons i:hover {
  background-color: rgb(135, 135, 135);
  color: white;
}

.nombre-apellido {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nombre-apellido div {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 10px;
}

.nombre-apellido div:last-child {
  margin-right: 0;
}

.terminos-condiciones {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  flex-wrap: wrap;
}

.terminos-condiciones input[type="checkbox"] {
  margin-right: 10px;
  width: auto;
}

/* Responsivo */
@media screen and (max-width: 768px) {
  form {
    padding: 1rem;
  }

  .nombre-apellido {
    flex-direction: column;
  }

  .nombre-apellido div {
    margin-bottom: 1rem;
  }

  .campo label,
  input {
    font-size: 1rem;
  }

  .icons i {
    font-size: 1.25rem;
    padding: 10px;
  }

  .links {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  button {
    width: 100%;  /* Fuerza el botón a tomar todo el espacio */
  }
}

@media screen and (max-width: 480px) {
  .titulo {
    font-size: 1.5rem;
    padding: 20px 5%;
  }

  .campo label,
  input {
    font-size: 1rem;
  }
}
