@import url("header.css");
@import url("footer.css");

main {
  width: 100%;
}

#inicio {
  text-align: center;
  padding: 40px 0;
  background-image: url("https://img.freepik.com/fotos-premium/par-zapatillas-sientan-plataforma-madera-frente-campo_777078-2045.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  height: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.868);
  font-size: 30px;
}

#mision-vision {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: #f4f4f4;
}

.mision-vision-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  gap: 20px;
  width: 80%;
  max-width: 1200px;
}

.mision,
.vision {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#productos {
  padding: 40px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.service-item {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 300px; /* Este ajuste permite que el item crezca y se reduzca */
  box-sizing: border-box;
  margin: 10px; /* Espacio alrededor de cada producto */
}

.service-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

#botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacio entre botones */
  margin: 20px 0;
}

@media (min-width: 400px) {
  #botones {
    flex-direction: row;
  }
}

#botones a {
  width: min(100%, 100px);
  text-decoration: none;
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color de texto */
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#botones a:hover {
  background-color: #0056b3; /* Cambio de color al pasar el cursor */
}
