@import url("header.css");
@import url("footer.css");

#inicio {
    text-align: center;
    padding: 40px 0;
    background-color: #f4f4f4;
}

#mision-vision {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: #f4f4f4;
}

.mision-vision-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 80%;
    max-width: 1200px;
}

.mision, .vision {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

#productos {
    padding: 40px 20px;
    background-color: #f4f4f4;
    text-align: center; 
}

.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; 
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.service-item {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    max-width: 300px; 
    flex: 1 1 300px; 
}

.service-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
