@import url("header.css");
@import url("footer.css");

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main {
  width: 95%;
  margin: 30px auto 30px auto;
}

@media (min-width: 420px) {
  main {
    width: 100%;
    margin: 25px 0 30px 0;
  }
}

section {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.contenedor-mapa {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(22, 17, 17, 0.1);
  border-radius: 10px 10px 0 0;
}

.contenedor-mapa h1 {
  font-size: 32px;
}

.horarios {
  width: 80%;
  margin: 0 auto;
  margin-top: -35px;
}

.horarios h2 {
  font-size: 28px;
  margin: 0;
}

.horarios p {
  margin: 0;
}

.container {
  width: 80%;
  margin: 30px auto;
  padding-top: 30px;
  margin-top: -35px;
  border-radius: 0 0 10px 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 30px;
}
.product {
  border-radius: 5px;
  overflow: hidden;
  border-radius: 18px;
}
.product img {
  border-radius: 18px;
  width: 100%;
}

@media (min-width: 768px) {
  section.contenedor-mapa,
  .mapa,
  section.horarios,
  section.container {
    width: 85%;
    padding: 30px 50px;
  }

  .contenedor-mapa h1 {
    font-size: 40px;
  }
}
